html {
	margin: auto;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration-line: none;
}

h1 {
	margin-top: 50px;
	font-family: 'Raleway', sans-serif;
	color: rgb(249,71,17);
	font-size: 50px;
	margin-bottom: -2em;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: rgb(249,71,17);
	margin-bottom: 2em;
}

h3 {
	margin-bottom: -0.8em;
}

.weiss {
	text-align: left;
	width: 800px;
	height: auto;
	margin: auto;
	background-color: white;
	padding: 2em;
}

.navigation {
	width: 864px;
	height: auto;
	margin: auto;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	margin-bottom: -0.5em;
}

.navigation a {
	width: 14.94%;
	border: rgb(249,71,17) solid 0.5px;
	background-color: white;
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	list-style-type: none;
	color: rgb(249,71,17);
	font-weight: bold;
}

.navigation a:hover {
	background-color: rgb(249,71,17);
	color: white;
	font-weight: bold;
}


.orange {
	background-color: rgb(249,71,17);
	width: 800px;
	height: auto;
	padding: 2em;
	margin: auto;
	color: white;
	text-align: left;
	margin-bottom: 1em;
}

.orange a {
	color: white;
	font-weight: bold;
}

.maske {
	color: white;
	position: relative;
	right: -25px;
	bottom: 420px;
	padding: 2em;
	margin-left: -2em;
	text-align: left;
	font-family: 'Lato', sans-serif;
	margin-bottom: -430px;
	background-color: rgba(249,71,17,0.6);
	width: 257px;
	height: 390px;
}

.maske h3 {
	font-size: 30px;
	margin-bottom: -5px;
}

.weiss2 {
	margin: auto;
	width: 800px;
	height: 200px;
	flex-wrap: nowrap;
	padding-bottom: 1em;
}

.textzwei {
	width: 33%;
	height: auto;
	text-align: left;
}

.dreier {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: auto;
	width: 600px;
	height: 100%;
	padding: 1em;
}

.links {
	width: 33%;
	height: auto;
	text-align: left;
	margin-left: 4em;
	margin-top: 5.3%;
}

.links a {
	color: rgb(249,71,17);
	font-weight: bold;
}

.stw {
	width: 33%;
	display: flex; 
	flex-wrap: nowrap;
	flex-direction: row;
	height: auto;
	margin-top: 1em;
}

.stw p {
	text-align: left;
	margin-left: 1em;
	margin-top: -0.5px;
}

.stw img {
	margin-top: 22%;
}

.about {
	display: flex; 
	flex-wrap: wrap;
	display: row;
	width: 800px;
}

 .about1 {
	width: 48%;
	height: auto;
	padding: 0.1em;
}

 .about2 {
	width: 48%;
	height: auto;
	padding: 0.1em;
}

.impre {
	width: 800px;
	margin: auto;
}

li {
	list-style-type: none;	
}

.produkte {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: auto;
	flex-direction: row;
	background-color: white;
	padding: 0.5em;
}

.gross div {
	width: 500px;
	height: auto;
	background-color: white;
	color: rgb(249,71,17);
	padding: 0.5em;
}

.klein div {
	width: 200px;
	height: 31.8%;
	background-color: white; 
	color: rgb(249,71,17);
	padding: 0.5em;
}
.gross div:hover {
	background-color: rgb(249,71,17);
	color: white;
}

.klein div:hover {
	background-color: rgb(249,71,17);
	color: white;
}

.formular {
	width: 633px;
	margin: auto;
}

.kontaktlol {
	width: 633px;
	margin: auto;
	margin-top: 3em;
}

.kontaktlol h3 {
	margin-bottom: 1em;
}

.kontaktlol p {
	margin-top: -1em;
}


.form-style-6{
	font-family: 'Raleway', sans-serif;
	max-width: 600px;
	margin: 10px auto;
	padding: 16px;
	background: #fff;
}
.form-style-6 h1{
	background: rgb(249,71,17);
	border: 2px solid white;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid rgba(249,71,17,0.3);
	padding: 3%;
	color: rgb(249,71,17);
	font-family: 'Raleway', sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px rgb(249,71,17);
	padding: 3%;
	border: 1px solid rgb(249,71,17);
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: rgb(249,71,17);
	border: 2px solid rgb(249,71,17);	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: white;
	color: rgb(249,71,17);
}
